h2, p {
  
      font-size: 17px;
}

.caja {
	display: inline-block;
	border: 2px solid #CE4A4A;
	width:215px;
	height: 260px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 2px;
	margin-bottom:7px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 600px;
}